/* COMMON */
body {
  height: 3000px;
  background-color: #ffffff;
  color: #040404;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  /* font-family: 'Montserrat', 'Pretendard', sans-serif; */
  font-family: 'Pretendard', sans-serif;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: #040404;
}

.inner {
  position: relative;
  width: 1340px;
  margin: 0 auto;
}

.material-icons {
  cursor: pointer;
}

/* HEADER */
header {
  position: fixed;
  width: 100%;
  top: 0;
  /* background-color: #ffffffef; */
  background-color: #ffffff;
  z-index: 5;
  box-shadow: 0px 1px 1px #05050519;
}

header .inner {
  display: flex;
  justify-content: space-between;
}

/* HEADER - LOGO */
#logo {
  position: absolute;
  top: 14px;
  display: flex;
  align-items: center;
  color: #363636;
  font-weight: 500;
}

#logo img {
  width: 140px;
  height: 112px;
  transition: .5s;
}

#logo #logo-txt h1 {
  padding-top: 10px;
  font-size: 18px;
  line-height: 1.2;
}

#logo #logo-txt div {
  margin-top: -3px;
  font-size: 12px;
}

/* HEADER */
#menu {
  flex: 1 0;
  width: 830px;
}

/* HEADER - MENU TOP */
#menu__top {
  position: relative;
  display: flex;
  top: 15px;
  right: 0;
  justify-content: flex-end;
}


/* 메뉴 간 구분선 */
#menu__top li::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 12px;
  background-color: #6664644b;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

#menu__top li:first-child:before {
  display: none;
}

#menu__top li:last-child:before {
  display: none;
}

#menu__top li a {
  padding: 5px 10px;
  font-size: 13px;
  color: #666464;
}

#menu__top li a#ssu-btn {
  margin-left: 5px;
  background-color: #1DA4F0;
  color: #f6f6f6;
}

/* HEADER - MENU MAIN */
#menu__main {
  display: flex;
  width: 830px;
  margin-top: 30px;
  /* margin-bottom: 30px; */
  /* 오른쪽 정렬 */
  margin-left: auto;
  font-size: 20px;
  font-weight: bold;
  justify-content: flex-end;
  padding: 30px 0;
}

#menu__main>li {
  text-align: center;
  /* 메뉴 간격 일정하게 */
  flex: 1 0;
}

/* HEADER - MENU SUB */
.menu__sub {
  /* display: none; */
  height: 0px;
  transition: 1s;
}

.menu__sub>li {
  display: none;
  padding: 2px 0;
}

.menu__sub>li a {
  font-weight: 500;
  font-size: 15px;
  color: #666464;
}

/* hover시 상세 메뉴 보이기 */
#menu__main:hover .menu__sub {
  display: block;
  margin: 20px 0 0 0;
  height: auto;
  transition: .2s;
}

#menu__main:hover .menu__sub>li {
  display: block;
}

/* NAV MENU */
/* FOR MOBILE - 메뉴 네비게이션 버튼 */
#toggle-btn {
  display: none;
  position: absolute;
  height: 30px;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  font-size: 30px;
  color: #666464;
}

nav {
  display: none;
  width: 60%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #101010e3;
  z-index: 10;
}

#close-btn {
  display: block;
  text-align: right;
  padding: 25px 25px 20px 0;
  font-size: 30px;
  color: #c0c0c0;
}

.nav__main>li {
  display: block;
  padding: 40px 0 10px 20px;
  margin-left: 50px;
  border-bottom: 1px solid #c0c0c0;
}

.nav__main>li a {
  color: #fbfbfb;
  font-size: 18px;
  font-weight: bold;
}

.nav__main>li .nav__item {
  height: 25px;
  display: flex;
  align-items: center;
}

.nav__main>li .nav__item .expand-btn {
  display: block;
  height: 20px;
  margin-left: 5px;
  font-size: 20px;
  color: #fbfbfb;
}

.nav__main>li .nav__sub {
  /* sub menu 숨김 */
  display: none;
  margin: 15px 0 20px 10px;
}

.nav__main>li .nav__sub>li {
  padding: 10px 0 0 8px;
  border: none;
}

.nav__main>li .nav__sub>li a {
  color: #fbfbfb;
  font-size: 15px;
  font-weight: 400;
}

/* SWIPER */
#teaser {
  position: relative;
  width: 100%;
  height: 700px;
  margin-top: 140px;
}

#teaser .swiper-slide #filter {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #040404c8;
  transition: .5s;
}

#teaser:hover .swiper-slide #filter {
  height: 0%;
}

#teaser .swiper-slide .teaser-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

#teaser .swiper-slide .inner {
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: center;
  height: 700px;
  color: #f6f6f6;
}

#teaser .swiper-slide h2 {
  font-weight: bold;
  font-size: 45px;
  text-align: right;
}

#teaser .swiper-slide h3 {
  margin-top: 50px;
  font-size: 20px;
  text-align: right;
}

#teaser .swiper-slide span {
  margin-top: 10px;
  font-size: 16px;
  text-align: right;
}

/* pagination */
#teaser .swiper-pagination .swiper-pagination-bullet {
  width: 40px;
  height: 4px;
  border-radius: 0;
  margin: 0 0 10px 0;
  outline: none;
  background-color: #f6f6f6;
}

#teaser .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #2e2e2e;
}

/* navigation prev/next btn */
#teaser .swiper-prev,
#teaser .swiper-next {
  position: absolute;
  display: flex;
  width: 50px;
  height: 50px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  z-index: 1;
  transition: .4s;
}

#teaser .swiper-prev .material-icons,
#teaser .swiper-next .material-icons {
  font-size: 50px;
  color: #f6f6f6;
}

#teaser .swiper-prev {
  left: 5%;
}

#teaser .swiper-next {
  right: 5%;
}

#teaser .swiper-prev:hover .material-icons,
#teaser .swiper-next:hover .material-icons {
  color: rgb(221, 221, 221);
}

/* ----------------------------------------------------------- */
/* SMALL SCREEN */
@media screen and (max-width: 1400px) {
  .inner {
    width: 95%;
  }
}

@media screen and (max-width: 1150px) {
  #logo {
    top: 0;
  }

  #logo img {
    width: 100px;
    height: 80px;
  }
  
  #logo #logo-txt h1 {
    padding-top: 0;
    font-size: 12px;
  }
  
  #logo #logo-txt div {
    display: none;
  }
}

/* MOBILE SCREEN */
@media screen and (max-width: 900px) {
  header .inner {
    height: 80px;
  }

  #logo {
    top: 0;
    bottom: 0;
    margin: auto;
  }

  header ul#menu__top {
    display: none;
  }

  header ul#menu__main {
    display: none;
  }

  header .inner .material-icons#toggle-btn {
    display: block;
  }
}