/* COMMON */
body {
  color: #040404;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Montserrat', 'Pretendard', sans-serif;
  height: 3000px;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: #040404;
}

.inner {
  position: relative;
  width: 1340px;
  margin: 0 auto;
}

.material-icons {
  cursor: pointer;
}

/* HEADER */
header {
  position: fixed;
  width: 100%;
  z-index: 5;
  box-shadow: 0px 1px 1px #05050519;
}

header .inner {
  height: 152px;
}

/* HEADER - LOGO */
#logo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  color: #363636;
  font-weight: 500;
}

#logo img {
  width: 175px;
  height: 142px;
  transition: .5s;
}

#logo #logo-txt h1 {
  padding-top: 12px;
  font-size: 20px;
  line-height: 1.2;
}

#logo #logo-txt span {
  display: block;
  margin-top: -2px;
  font-size: 13px;
}

/* HEADER - MENU TOP */
header ul.menu__top {
  position: absolute;
  display: flex;
  top: 20px;
  right: 0;
}

header ul.menu__top li {
  box-sizing: border-box;
}

/* 메뉴 간 구분선 */
header ul.menu__top li::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 12px;
  background-color: #666464;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

header ul.menu__top li:first-child:before {
  display: none;
}

header ul.menu__top li:last-child:before {
  display: none;
}

header ul.menu__top li a {
  padding: 5px 10px;
  font-size: 13px;
  color: #666464;
}

header ul.menu__top li a#ssu-btn {
  margin-left: 5px;
  background-color: #1DA4F0;
  color: #f6f6f6;
}

/* HEADER - MENU MAIN */
header ul.menu__main {
  position: absolute;
  display: flex;
  width: 830px;
  left: auto;
  right: 0;
  margin: 0;
  bottom: 30px;
  font-size: 20px;
  font-weight: bold;
}

header ul.menu__main>li {
  padding: 5px 50px;
}

header .inner .material-icons#toggle-btn {
  display: none;
}


@media screen and (max-width: 1400px) {
  .inner {
    width: 95%;
  }
}

@media screen and (max-width: 1200px) {
  #logo {
    top: 0;
    bottom: auto;
  }

  #logo img {
    width: 100px;
    height: 80px;
  }
  
  #logo #logo-txt h1 {
    padding-top: 0;
    font-size: 12px;
  }
  
  #logo #logo-txt span {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  header .inner {
    height: 80px;
  }

  #logo {
    top: 0;
    bottom: 0;
    margin: auto;
  }

  header ul.menu__top {
    display: none;
  }

  header ul.menu__main {
    display: none;
  }

  header .inner .material-icons#toggle-btn {
    display: block;
    position: absolute;
    height: 30px;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
    font-size: 30px;
    color: #666464;
  }
}